body {
    background-color: #19334d;
    color: white;
}

div {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
    color: #ffb366;
    font-family: verdana;
    /* text-align: center; */
}

h3 {
    color: #ffcc99;
    font-family: verdana;
}

p {
    font-family: verdana;
    font-size: 20px;
}

a {
    color: #99ffff;
}

ul li {
    background: #1f4060;
    margin: 20px;
    font-size: 20px;
    color: #fff2e6;
}

ol li {
    background: #1f4060;
    margin: 20px;
    font-size: 20px;
    color: #fff2e6;
}
